<h1>Index post page</h1>
<table BORDER>
  <thead>
    <tr> 
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>USER_ID</th>
      <th>LIKES</th>
      <th>Actions</th>
    </tr>
  </thead>
<% @post.each do |post| %>
  <tbody>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.user_id %></td>
      <td><%= post.likes.size %></td>
      <td>
        <%= link_to "Show", post_path(post)%>
        <%= link_to "Edit post", edit_post_path(post)%>
        <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you sure?"}  %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>
<p>Sort by: 
<%= link_to "likes", posts_path(order: 'likes_count') %>
<%= link_to "title", posts_path(order: 'title') %>
</p>